@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400&display=swap');

:root{
    --black: rgb(36, 34, 34);
    --white: rgb(246, 244, 242);
    --lightblack: rgb(58, 58, 58);
    --yellow: rgb(240, 206, 12);
    --red: rgb(206, 37, 22);
}

*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--white);
    font-family: lemonada,Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background-color: var(--lightblack);
}

/*header style starts*/
.mainheader{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--black);
    z-index: 10000;
}
.mainheader .logo{
    font-size: 2rem;
    font-family: lemon,Arial, Helvetica, sans-serif;
}
.mainheader .logo i,.mainheader #daymode,.mainheader #bars{
    font-size: 2rem;
    color: var(--yellow);
    margin-right: .7rem;
}
.mainheader #bars{
    display: none;
}
.mainheader nav a{
    position: relative;
    font-size: 1.4rem;
    margin-left: .5rem;
}
.mainheader nav a.active::before,.mainheader nav a:hover::before{
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--yellow);
}

/*header style ends*/

section{
    padding: 2rem 0;
}

/*main style starts*/
.swiper-slide{
    width: 100vw;
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#home .swiper-slide img{
    width: 80%;
    max-width: 500px;
    z-index: 0;
    animation: animate 3s ease-in-out infinite;
}
.swiper-slide h2{
    font-size: 3rem;
    color: var(--red);
}
.swiper-slide p{
    max-width: 500px;
    font-size: 1.3rem;
}
.swiper-slide button{
    color: var(--white);
    background: transparent;
    padding: .6rem 1rem;
    margin-top: .7rem;
    border: 2px solid var(--red);
    font-size: 1.4rem;
    transition: .6s;
}
.swiper-slide button:hover{
    background-color: var(--red);
    color: var(--lightblack);
}
.swiper-button{
    color: var(--red);
}
span.swiper-pagination-bullet{
    background-color: var(--red);
}
/*main style ends*/

/*about style starts*/
section#about{
    text-align: center;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 30rem;
    flex-wrap: wrap;
}
.container div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 300px;
    height: 200px;
    flex-direction: column;
    outline: 2px solid var(--white);
    margin-bottom: 1.5rem;
}
.container div h2{
    font-size: 2rem;
}
.container div p{
    max-width: 300px;
    font-size: 1.2rem;
}
.container div img{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;opacity: 0.6;
}
.container div:nth-child(2) h2{
    color: var(--yellow);
    z-index: 1000;
    text-shadow: 0 .5rem .5rem black;
}
section#about h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
section#about span{
    color: var(--yellow);
}
/*about style ends*/
#popular{
    text-align: center;
}
#popular .swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 300px;
    height: 400px;
    margin: 0 3rem 4rem 3rem;
    background-color: var(--lightblack);
    opacity: 0.7;
    border-radius: 10px;
}
#popular .swiper-slide img{
    width: 70%;
}
#popular .swiper-slide-active{
    background-color: var(--white);
    opacity: 1;
    border: 2px solid var(--red);
}
#popular .swiper-slide-active img{
    animation: animate 1.5s linear infinite;
}
#popular .swiper-slide p{
    color: var(--black);
}
#popular .swiper-slide .stars,#popular .swiper-slide .fa-star,#popular .swiper-slide button{
    color: var(--red);
}
#popular .swiper-slide button:hover{
    color: var(--black);
}
#popular h1,#menu h1{
    color: var(--yellow);
    font-size: 3rem;
}



/*menu section starts*/
#menu{
    text-align: center;
    height: auto;
}
#menu .swiper-slide{
    width: auto;
    height: auto;
    flex-direction: column;
}
#menu .swiper-slide .divmenu{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    gap: .5rem;
    max-width: 640px;
    flex-wrap: wrap;
}
#menu .swiper-slide .menu{
    width: 300px;
    height: auto;
    background-color: aliceblue;
}
#menu .swiper-slide *{
    color: var(--black);
}
#menu .info{
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--black);
    font-size: 1.5rem;
}
#menu .info div{
    color: var(--red);
}
#menu .desc{
    text-align: center;
    padding: 0.5rem;
    border: 1px solid var(--black);
}
#menu .swiper-slide h1{
    color: var(--red);
}
#menu .swiper-wrapper{
    margin-bottom: 4rem;
}


















@keyframes animate{
    0%{
        transform: translateY(-1rem);
    }
    50%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(-1rem);
    }
}

@media (max-width:650px){
    .swiper-slide{
        flex-direction: column;
        text-align: center;
    }
    .swiper-slide img{
        max-width: 300px;
    }
    @keyframes animate{
        0%{
            transform: translateY(-0.5rem);
        }
        50%{
            transform: translateY(0.5rem);
        }
        100%{
            transform: translateY(-0.5rem);
        }
    }
    .mainheader #bars{
        display: initial;
    }
    .mainheader nav{
        position: absolute;
        top: 100%;left: 0;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--black);
    }
    .mainheader nav a{
        padding: .5rem 1rem;
        font-size: 2rem;
        margin: 0.5rem;
    }
}